// Body
$body-bg: #f7f7f7;

// Typography
$font-family-sans-serif: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-size-base: 0.75rem;
$line-height-base: 1.6;

// Colors
$blue: #184A78;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #FF5D55;
$orange: #f6993f;
$yellow: #FFA834;
$green: #10ac84;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #a6a6a6;
$black: #333;
$white: #fff;

$accent: #184A78;
$secondary: #3D5C99;
$tertiary: #033076;
$bg-footer: #0844A4;

$light-accent: #00A2E5;

$line-color: #ccc;
$gray-hover: #eee;
$module-header-bg: #2967a0;
$side-navigation-bg: #f2f2f2;
$field-important: #FEFCE0;